.git
.gitmodules
.venv
.cache
.pytest_cache
.ruff_cache
.mypy_cache
**/__pycache__
**/*.pyc

datasets
checkpoints
migrated_checkpoints
docker
outputs
results
wandb

*.mp4
*.tar
*.tar.gz
*.sqsh
core
core.*
